credentials.json
token.json
__pycache__
states
lib
.vscode
oauth_secret.json
local_oauth_secret.json
assignments.npy
new_assignments.npy
demand.npy
local_oauth_secret_SPA.json
query_private.ipynb